#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}

body {
    width: 100vw;
    height: 100vh;
}

.meu-grid {
    display: grid;
    grid-template-areas:
    "header header header"
    ".       main     ."
    "footer footer footer";
}